/*VARIABLES*/
:root {
    --dark_cyan: #3c8067;
    --cream: #f2ebe3;
    --very_dark_blue: #1c232b;
    --dark_grayish_blue: #6c7289;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

.main_container {
    display: flex;
    flex-wrap: nowrap;
}

.mobile_image {
    display: none;
}

.right_container {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-top: 4rem;
}

.description_container {
    max-width: 330px;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--dark_grayish_blue);
    letter-spacing: 3px;
}

h2 {
    margin-top: 3rem;
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    color: var(--very_dark_blue);
}

p {
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: var(--dark_grayish_blue);
    line-height: 2rem;
}

.cart_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-top: 3rem;
}

.offer_price {
    font-family: 'Fraunces', serif;
    color: var(--dark_cyan);
    font-size: 4rem;
}

.real_price {
    font-size: 25px;
    text-decoration: line-through;
    color: var(--dark_grayish_blue);
    margin-left: 30px;
    margin-top: 25px;
}

.btn_cart {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    background-color: var(--dark_cyan);
    font-size: 20px;
    margin-top: 3rem;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn_cart:hover {
    background-color: green;
}

.btn_cart > img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

@media (max-width: 768px){
    .main_container {
        display: flex;
        flex-wrap: wrap;
    }

    .mobile_image {
        display: block;
    }

    .desktop_image {
        display: none;
    }

    .btn_cart {
        margin-bottom: 40px;
    }
}
